.Navbar {
border-bottom: 1px solid lightgreen;
  
  ul {
    margin: 15px ;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content:space-between;
    gap: 50px;
    font-size: 20px;
    
    a {
      text-decoration: none;
      color: lightgreen;
      font-weight: bold;

      &:hover {
        color:chartreuse;
        text-decoration: underline;
      }
    }
  }
}
